html {
    background-color: #121212f1;
}

body {
    margin: 0 auto;
    max-width: 700px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #121212;
    color: #fff;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 25vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-color: #fefefe85;
    background-size: 100%;
}

#title {
    color: #fefefe;
    text-shadow: 0px 0px 5px #000;
}

a {
    text-decoration: none;
    color: #fefefe;
    text-shadow: 0px 0px 1px #000;
}

a:hover,
a:focus {
    color: #fff;
    text-decoration: underline;
}

.index-link {
    color: #fff;
    font-size: 1rem;
    margin-top: 1em;
    font-weight: 300;
}

a:hover,
a:focus {
    color: #fefefe85;
    text-decoration: underline;
    cursor: pointer;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
#searchTerm {
    width: 100%;
    border: 3px solid #2E2E2F;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
#searchTerm:focus{
    color: #00B4CC;
}
  
#searchButton {
    width: 80px;
    height: 36px;
    border: none;
    background: #4B4B4B;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  
.wrap{
    width: 35%;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text]{
    background-color: #2E2E2F;
}

.pick-btn-container {
    display: flex;
    justify-content: center;
    margin: 3em;
}

.pick-for-me-btn {
    background: transparent;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5em 1em;
    transition: all .4s;
}

.pick-for-me-btn:hover {
    background-color: #fff;
    color: #000;
}

#movie-title-container,
#watchlist-movie-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    margin: 0 auto;
    margin-top: 2em;
}

.fa-film {
    color: #4B4B4B;
    align-self: center;
    font-size: 100px;
}

.icon-text{
    color: #4B4B4B;
    font-size: 1.75rem;
    margin-top: 0.25rem;
}

.movie {
    color: #fff;
    height: 250px;
    width: 80%;
    display: flex;
    padding: 0.5em;
}

.movie-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25em;
    justify-content: center;
    width: 100%;
}

.movie-title-container{
    display: flex;
    align-items: baseline;
    margin: 0;
}

.movie-subtext-container {
    display: flex;
    margin-top: 2em;
    align-items: baseline;
    font-size: 0.75rem;
    width: 100%;
}

.movie > img {
    height: auto;
    width: 10em;
    object-fit: cover;
}

hr{
    margin: 2em auto;
    width: 90%;
}

.movie-button {
    height: 1rem;
    background: none;
    color: #fff;
    border: none;
    font-weight: 300;
    margin-left: auto;
    cursor: pointer;
}

.movie-button:hover,
.movie-button:active {
    color: rgba(255, 255, 255, 0.295);
}

.movie-title {
    margin: 0;
    font-size: 1.25rem;
}

.movie-genre{
    margin: 0 auto;
}

.movie-stars {
    margin: 0;
    padding-left: 2em;
    font-size: 0.75;
    font-weight: 300;
}

.movie-plot {
    font-size: 0.8rem;
    font-weight: 300;
    color: #A5A5A5;
}