html, body {
    background-color: #121212f1;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    margin: 0 auto;
    max-width: 700px;
}

/* -----------------
       header
----------------- */

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 25vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-color: #fefefe85;
    background-size: 100%;
}

.title,
a {
    color: #fefefe;
    text-shadow: 0px 0px 5px #000;
}

a {
    text-decoration: none;
}

a.placeholder-subtext {
    margin-top: 0.5rem;
    font-weight: 300;
    letter-spacing: .2em;
}

a:hover,
a:focus {
    color: #fefefe85;
    text-decoration: underline;
    cursor: pointer;
}

/* -------------------
    Search bar
------------------- */

.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
#searchTerm {
    width: 100%;
    border: 3px solid #2E2E2F;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
#searchTerm:focus{
    color: #00B4CC;
}
  
#searchButton {
    width: 80px;
    height: 36px;
    border: none;
    background: #4B4B4B;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  
.wrap{
    width: 35%;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text]{
    background-color: #2E2E2F;
}

/* -----------------
    main body
----------------- */

#movie-title-container,
#watchlist-movie-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    margin: 0 auto;
}

.fa-film {
    color: #4B4B4B;
    align-self: center;
    font-size: 6.25rem;
}

.icon-text{
    color: #4B4B4B;
    font-size: 1.75rem;
    margin-top: 0.25rem;
}

#movie-title-container > .movie:first-child,
#watchlist-movie-title-container > .movie:first-child{
    margin-top: 2.5em;
}

#movie-title-container > hr:last-child,
#watchlist-movie-title-container > hr:last-child {
    display: none;
}

/* --- Movie div --- */

.movie {
    height: 250px;
    width: 85%;
    display: flex;
    padding: 0.5em;
}

.movie > img {
    height: 95%;
    width: 10em;
    object-fit: cover;
}

.movie-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    justify-content: flex-start;
    height: 100%;
}

.movie-title-container{
    display: flex;
    align-items: baseline;
    justify-self: flex-start;
}

.movie-title {
    margin: 0;
    font-size: 1.4rem;
}

.movie-stars {
    padding-left: 2em;
    font-size: 0.75rem;
    font-weight: 300;
}

.movie-subtext-container,
.movie-button {
    font-size: 0.8rem;
}

.movie-subtext-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.movie-genre {
    margin-left: 2em;
}

.movie-button-container {
    margin-left: auto;
}

.movie-button {
    background: none;
    color: #fff;
    border: none;
    font-weight: 300;
    cursor: pointer;
    text-align: end;
}

.movie-button:hover,
.movie-button:active {
    color: rgba(255, 255, 255, 0.295);
}

hr{
    margin: 0 auto 1em;
    width: 90%;
}

.movie-plot {
    font-size: 0.8rem;
    font-weight: 300;
    color: #A5A5A5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

/* ---------------------------
    pick for me button
--------------------------- */

.pick-btn-container {
    display: flex;
    justify-content: center;
    margin: 2em auto 0;
}

.pick-for-me-btn,
#watched-button,
#repick-button {
    background: transparent;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all .4s;
}

.pick-for-me-btn {
    font-size: 2rem;
    padding: 0.5em 1em;
    border: 3px solid #fff;
}

.random-movie-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

#watched-button,
#repick-button {
    padding: 0.5em 1em;
    border: 1px solid #fff;
}

.pick-for-me-btn:hover,
#watched-button:hover,
#repick-button:hover {
    background-color: #fff;
    color: #000;
}

#watched-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
}

#watched-button span {
    font-size: 0.6rem;
}

#popup-contents.movie {
    display: flex;
    margin: 0;
}

.popup-img {
    min-height: 100%;
}

/* ------------
    overlay
------------ */

.popup { display: none; }

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0,0,0,.7);
}

.popup .contents {
    border: #808080 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fefefe;
    position: fixed;
    max-width: 100%;
    min-width: 50vw;
    min-height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
}

.contents > *,
#popup-contents p.movie-plot {
    color: #fefefe;
}